{% extends "base.html" %}

{% block stylesheets %}                            
    <link type="text/css" rel="stylesheet" href="/stylesheets/bill.css" />
{% endblock %}

{% block header %}
{{bill.chamber}} Bill #{{bill.number}}
{% endblock %}

{% block content %}
    <div class="bill_content">
        
	    <div class="short_title">
	       {{bill.short_title}}
	    </div>
	    <br >
	    <div class="bill_summary">
	       <div class="expandable">
                {{bill.summary}}
           </div>
        </div>
        <div class="sponsor_info">
            <div class="sponsor_label">Sponsor:</div>  
            <a href="http://www.govtrack.us/congress/person.xpd?id={{bill.sponsor.govtrack_id}}">{{bill.sponsor.first_name}} {{bill.sponsor.last_name}}</a>, {{bill.sponsor.party}} - {{bill.sponsor.state}}
            <img class="sponsor_photo" src="http://www.govtrack.us/data/photos/{{bill.sponsor.govtrack_id}}-50px.jpeg" />
        </div>
        <div class="hr"></div>
        <div class="vote_div">
            <div class="vote_label">Voting:</div>
            {% if not vote %}
            <div id="vote_buttons" class="vote_buttons">
				<div id="aye" class="vote_button" onclick="vote('{{bill.chamber}}','{{bill.number}}', 'aye');">
				  Aye
				</div>
				<div id="nay" class="vote_button" onclick="vote('{{bill.chamber}}','{{bill.number}}', 'nay');">
				  Nay
				</div>
				<div id="abstain" class="vote_button" onclick="vote('{{bill.chamber}}','{{bill.number}}', 'abstain');">
				  Abstain
			    </div>
		    </div>
		    {% endif %}
            <div id="vote_counts_div" class="vote_counts_div" 
                    {% if not vote %} style="display:none" {% endif %} 
                    >
                <div>
					<div id="aye_count_div" class="vote_count_div 
					        {% ifequal vote.value 'aye' %} 
					        vote_count_div_voted 
					        {% endifequal %}
					        ">
					    <div class="vote_count_label">Ayes</div>
					    <div id="aye_count" class="vote_count">{{aye_count}}</div>
					</div>
					<div id="nay_count_div" class="vote_count_div 
					        {% ifequal vote.value 'nay' %} 
					        vote_count_div_voted 
					        {% endifequal %}
					        ">
					    <div class="vote_count_label">Nays</div>
					    <div id="nay_count" class="vote_count">{{nay_count}}</div>
					</div>
					<div id="abstention_count_div" class="vote_count_div 
					        {% ifequal vote.value 'abstain' %} 
					        vote_count_div_voted 
					        {% endifequal %}
					        ">
					    <div class="vote_count_label">Abstentions</div>
					    <div id="abstention_count" class="vote_count">{{abstention_count}}</div>
					</div>
				</div>
				<div>
				    {% for c_v in bill.congressionalvote_set %}
						<div class="vote_counts_div">
						    {{c_v.chamber|capfirst}}&nbsp;Votes: 
		                    <div class="vote_count_div 
		                            {% ifequal c_v.result 'Passed' %} 
		                              vote_count_div_voted 
		                            {% endifequal %}">
		                        <div class="vote_count_label">Ayes</div>
		                        <div class="vote_count">{{c_v.yeas}}</div>
		                    </div>
		                    <div class="vote_count_div 
		                            {% ifequal c_v.result|lower 'Failed' %} 
		                              vote_count_div_voted 
		                            {% endifequal %}">
		                        <div class="vote_count_label">Nays</div>
		                        <div class="vote_count">{{c_v.nays}}</div>
		                    </div>
						    <div class="vote_count_div">
						        <div class="vote_count_label">Abstentions</div>
						        <div class="vote_count">{{c_v.abstentions}}</div>
						    </div>
						</div>                            
				    {% endfor %}
				</div>
            </div>
        </div>
		<div class="hr"></div>
		<div id="comments_toggle" class="comments_toggle" onclick="show_hide_comments()">show comments</div>
		<div id="fb-root"></div>
		<div id="comments" style="display:none" class="fb-comments" data-href="/bill/{{bill.chamber}}/{{bill.number}}" data-num-posts="1" data-width="300"></div>
    </div>

{% endblock %}

{% block scripts %}
  
    <script type="text/javascript" charset="utf-8">
        
        /* send a vote to the server */
        function vote(chamber, number, vote_value){
            update_vote_count(vote_value)
            show_vote_counts(vote_value);
            $.post('/vote', { 'chamber' : chamber, 'number': number, 'vote_value' : vote_value }, function(data) {
            	  $('.result').html(data);
            	});
            
        }
        /* show the vote counts and hide the vote buttons*/
        function show_vote_counts(val){
            votes_counts_div = document.getElementById('vote_counts_div');
            vote_buttons = document.getElementById('vote_buttons');
            vote_buttons.style.display = "none";
            votes_counts_div.style.display = "inline-block";
        }
        
        /* update the vote counts */
        function update_vote_count(val){
            //increment the appropriate vote count by one
            aye_count = {{aye_count}} + ((val == 'aye') ? 1 : 0);
            nay_count = {{nay_count}} + ((val == 'nay') ? 1 : 0);
            abstention_count = {{abstention_count}} + ((val == 'abstain') ? 1 : 0);
            
            ayes = document.getElementById('aye_count');
            nays = document.getElementById('nay_count');
            abstentions = document.getElementById('abstention_count');
            ayes.innerHTML = aye_count;
            nays.innerHTML = nay_count;
            abstentions.innerHTML = abstention_count;
            ayes_div = document.getElementById('aye_count_div');
            nays_div = document.getElementById('nay_count_div');
            abstentions_div = document.getElementById('abstention_count_div');

            ayes_div.className = ((val == 'aye') ? 'vote_count_div vote_count_div_voted' : 'vote_count_div');
            nays_div.className = ((val == 'nay') ? 'vote_count_div vote_count_div_voted' : 'vote_count_div');
            abstentions_div.className = ((val == 'abstain') ? 'vote_count_div vote_count_div_voted' : 'vote_count_div');
        }
        
        /* show/hide the FB comments section*/
        function show_hide_comments(){
            c = document.getElementById('comments');
            t = document.getElementById('comments_toggle');
            if (c.style.display == 'none'){
                c.style.display = "";
                t.innerHTML = "hide comments";
            }
            else{
                c.style.display = "none";
                t.innerHTML = "show comments";
            }
        }        
    </script>
    <script>
        /* FB provided JS for the comments box */
	    (function(d, s, id) {
	          var js, fjs = d.getElementsByTagName(s)[0];
	          if (d.getElementById(id)) {return;}
	          js = d.createElement(s); js.id = id;
	          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	          fjs.parentNode.insertBefore(js, fjs);
	        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="/javascript/jquery.expander.min.js"></script>
    <script src="/javascript/custom.js"></script>
    
{% endblock %}

    
    
    