{% extends "base.html" %}

{% block stylesheets %}                            
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css" />
{% endblock %}

{% block header %}
    {% if day_string %}
        Bills for {{ day_string }}
    {% else %}
        Today's Bills
    {% endif %}
{% endblock %}        

{% block content %}
    {% if todays_activities %}
        <div style="font-weight:bold">Today's Bills:</div>
	    {% for a in todays_activities %}
	       {% show_bill_list_item a.bill %}
	    {% endfor %}
    {% else %}
        Sorry, no bills today!
    {% endif %}
    
    {% if recent_activities %}
        <br /><br /><br />
        <div style="font-weight:bold">Recent Bills:</div>
        {% for a in recent_activities %}
           {% show_bill_list_item a.bill %}
        {% endfor %}
    {% endif %}
{% endblock %}
    
{% block footer %}                            
    {% if previous_day %}
        <a class="previous_link internal_link" href="/main/{{previous_day.year}}/{{previous_day.month}}/{{previous_day.day}}">< previous</a>
    {% endif %}
    {% if next_day %}
        <a class="next_link internal_link" href="/main/{{next_day.year}}/{{next_day.month}}/{{next_day.day}}">next ></a>
    {% endif %}
{% endblock %}


{% block scripts %}
{% endblock %}    