{% extends "base.html" %}

{% block header %}
    Updates on My Bills
{% endblock %}        

{% block stylesheets %}                            
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/bill.css" />
{% endblock %}


{% block content %}

    <div style="font-weight:bold">Updated Bills Since Last Visit:</div>
    {% if not updated_bills %}
        <div>
            Sorry, no updates for you today.
        </div>
    {% else %}    
	    {% for b in updated_bills %}
	        {% show_bill_list_item_with_votes user b %}
	    {% endfor %}
    {% endif %}

    {% if recent_bills %}
        <br /><br /><br />
        <div style="font-weight:bold">Recently Updated Bills:</div>
	        {% for b in recent_bills %}
	            {% show_bill_list_item_with_votes user b %}
	        {% endfor %}
	    </div>
	{% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}    