{% extends "base.html" %}

{% block stylesheets %}                            
    <link type="text/css" rel="stylesheet" href="/stylesheets/welcome.css" />
{% endblock %}

{% block content %}

    <div class="welcome_content">
	    <h1>Welcome to Congress</h1>
	    <br />
	    <form action="/zip" method="post">
	        <input name="zip" type="text" title="Enter Your Zip Code to Begin" size="27" />
	        <br />
	        <input class="welcome_submit" type="submit" />
	    </form>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}