body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #FFFFFF;
  padding:0px;
  margin:0px;
}
div{
	margin:0;
	padding:0;
}
table{
	font-size:12px;
	margin:0;
	padding:0;
	display:inline-block;
}
tr, td {
	margin:0;
    padding:0;    
}
input {
	font-family: Verdana, sans-serif;
    font-size: 0.9em;
    padding: 5px;
    border: 2px solid #666;
}           
input.blur {
    color: #999;
}
form {
	line-height: 40px;	
}
a{
	
}
a.internal_link
{
	color:#999999;
}

h1
{
    font-size: 20px;   
    display:inline;
}
hr
{
    height:1px;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    
    border-top:2px solid #EEEEEE;
    border-bottom:none;
    border-left:none;
    border-right:none;      
}


.main_frame
{
    margin:0 auto;
    height:100%;
}
.main_content
{
    margin:0 auto;
    width:100%; 
    min-height:270px;
    padding:0px;
    //padding-top:10px;
    //padding-bottom:10px;
    display:block;
}

.header
{
    background-color:#DDDDDD;
    text-align:center;
    //padding:1px;
    height:30px;
    width:100%;
    margin:0 px;
}
.footer
{
    //background-color:#DDDDDD;
    text-align:center;
    height:20px;
    margin-top:25px;
    color:#999999;
}
.header_link
{
    background-color:#CCCCCC;
    text-align:center;
    display:inline-block;
    height:20px;
    width:20px;
    border-radius:4px;
    margin:5px;
    text-decoration:none;
    cursor:pointer;
    color:#999999;
}
.header_link_left
{
    float:left;
}
.header_link_right
{
    float:right;
}
.update_count
{
	float:left;
	margin-top:-5px;
	margin-left:-4px;
	display:inline;
	background-color:red;
	color:white;
	width:10px;
	height:10px;
	font-size:8px;
	border-radius:3px;
}



/******BEGIN VOTE UPDATES PAGE*******/


/******END VOTE UPDATES PAGE*******/